<?xml version="1.0" encoding="UTF-8"?>

<suite thread-count="1" name="API Automation sute" verbose="1">
  <test name="API Tests" >
  
      <classes>           
       <class name="com.api.testcases.TC_01_Get_all_employees" /> 
       <class name="com.api.testcases.TC_02_Get_Single_Employee_data" /> 
       <class name="com.api.testcases.TC_03_Post_Employee_Data" />    
                 
    </classes>	
  </test>
</suite>
